<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#content" class="skip-content">Menuju ke konten</a>
    <header>
      <h1><span>F</span>are <span>C</span>uliner</h1>
      <a  id="hamburger" href="#">☰</a>
      <nav id="drawer">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/Novelorenta09">About Us</a></li>

        </ul>
      </nav>
    </header>


  <main id="main">
    
  <article class="hero-image">
    <img src="images/heros/hero-image_4.jpg" alt="hero-image">
  <div class="teks">
    <h1>Find Your Favorite Restaurant Here!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sint sapiente ratione dolorum, maiores commodi ullam dicta, nemo voluptate soluta similique fu</p>
  <a href="#list-resto">Our Restoran</a>

  </div>
  </article>
  <article id="content" class="content">
      <h2>Explore Our Restoran</h2>
      <section id="list-resto">

      </section>
  </article>
  <article class="why-choose">
    <h2>Why Choose Us?</h2>
    <section class="list-choose">
    <div>
      <img src="images/heros/hero-image_1.jpg" alt="-">
      <h3>Quality Dishes</h3>
      <p>Lorem ipsum dolor sit.</p>
    </div>
    <div>
      <img src="images/heros/hero-image_2.jpg" alt="-">
      <h3>Varied Menu</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad.</p>
    </div>
    <div>
      <img src="images/heros/hero-image_3.jpg" alt="-">
      <h3>Strategic Location </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </section>
  </article>
  <article class="our-design">
    <img src="images/heros/restoran.jpg" alt="">
    <div class="dess-design">
      <h2>Our Design Room</h2>
      <p>Lorem, ipsum dolor sit amet consectetur  elit. , veritatis!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. enim?</p>
    </div>
    <img src="images/heros/restoran2.jpg" alt="">

  </article>
  </main>
  <footer>
    <p>Copyright &copy; 2024 - Fare Culiner | Novelorenta</p>
  </footer>
  </body>
</html>
